<%= form_with(model: lease_note, local: true) do |form| %>
  <% if lease_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lease_note.errors.count, "error") %> prohibited this lease_note from being saved:</h2>

      <ul>
      <% lease_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_field :note %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= collection_select(:lease_note, :user_id, User.all, :id, :full_name, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :private %>
    <%= form.check_box :private %>
  </div>

  <div class="field">
    <%= form.label :lease_id %>
    <%= collection_select(:lease_note, :lease_id, Lease.all, :id, :id, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
