<p id="notice"><%= notice %></p>

<h1>Lease Notes</h1>

<table>
  <thead>
    <tr>
      <th>Note</th>
      <th>User</th>
      <th>Private</th>
      <th>Lease</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lease_notes.each do |lease_note| %>
      <tr>
        <td><%= lease_note.note %></td>
        <td><%= lease_note.user.full_name %></td>
        <td><%= lease_note.private %></td>
        <td><%= lease_note.lease.id %></td>
        <td><%= link_to 'Show', lease_note %></td>
        <td><%= link_to 'Edit', edit_lease_note_path(lease_note) %></td>
        <td><%= link_to 'Destroy', lease_note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lease Note', new_lease_note_path %>
