<%= form_with(model: schedualed_payment, local: true) do |form| %>
  <% if schedualed_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedualed_payment.errors.count, "error") %> prohibited this schedualed_payment from being saved:</h2>

      <ul>
      <% schedualed_payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :charge_period_start_date %>
    <%= form.date_select :charge_period_start_date %>
  </div>

  <div class="field">
    <%= form.label :charge_period_end_date %>
    <%= form.date_select :charge_period_end_date %>
  </div>

  <div class="field">
    <%= form.label :amount_due %>
    <%= form.number_field :amount_due %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_select :due_date %>
  </div>

  <div class="field">
    <%= form.label :lease_id %>
    <%= collection_select(:schedualed_payment, :lease_id, Lease.all, :id, :id, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
