<p id="notice"><%= notice %></p>

<h1>Schedualed Payments</h1>

<table>
  <thead>
    <tr>
      <th>Charge period start date</th>
      <th>Charge period end date</th>
      <th>Amount due</th>
      <th>Due date</th>
      <th>Lease</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedualed_payments.each do |schedualed_payment| %>
      <tr>
        <td><%= schedualed_payment.charge_period_start_date %></td>
        <td><%= schedualed_payment.charge_period_end_date %></td>
        <td><%= schedualed_payment.amount_due %></td>
        <td><%= schedualed_payment.due_date %></td>
        <td><%= schedualed_payment.lease.id %></td>
        <td><%= link_to 'Show', schedualed_payment %></td>
        <td><%= link_to 'Edit', edit_schedualed_payment_path(schedualed_payment) %></td>
        <td><%= link_to 'Destroy', schedualed_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedualed Payment', new_schedualed_payment_path %>
