<p id="notice"><%= notice %></p>

<p>
  <strong>Charge period start date:</strong>
  <%= @schedualed_payment.charge_period_start_date %>
</p>

<p>
  <strong>Charge period end date:</strong>
  <%= @schedualed_payment.charge_period_end_date %>
</p>

<p>
  <strong>Amount due:</strong>
  <%= @schedualed_payment.amount_due %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @schedualed_payment.due_date %>
</p>

<p>
  <strong>Lease:</strong>
  <%= @schedualed_payment.lease %>
</p>

<%= link_to 'Edit', edit_schedualed_payment_path(@schedualed_payment) %> |
<%= link_to 'Back', schedualed_payments_path %>
