<%= form_with(model: payment_frequency, local: true) do |form| %>
  <% if payment_frequency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment_frequency.errors.count, "error") %> prohibited this payment_frequency from being saved:</h2>

      <ul>
      <% payment_frequency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
