<p id="notice"><%= notice %></p>

<h1>Leases</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Payment frequency</th>
      <th>Rent</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leases.each do |lease| %>
      <tr>
        <td><%= lease.address.street_name %></td>
        <td><%= lease.payment_frequency.description %></td>
        <td><%= lease.rent %></td>
        <td><%= lease.start_date %></td>
        <td><%= lease.end_date %></td>
        <td><%= lease.name %></td>
        <td><%= link_to 'Show', lease %></td>
        <td><%= link_to 'Edit', edit_lease_path(lease) %></td>
        <td><%= link_to 'Destroy', lease, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lease', new_lease_path %>
